* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: aileron, sans-serif;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-family: aileron, sans-serif;
    font-size: 8em;
    font-weight: 700;
    margin-bottom: 0;
}

p {
    font-family: aileron, sans-serif;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}